/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    column-gap: 30px;
    background-image: url('../images/fondo.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;

}


.shadow {
    box-shadow:
        rgba(31, 31, 46, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px,
        rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.separate {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 30px 20px;
    text-align: center;
}


.imglogo {
    height: 30px;
}

.form {
    position: absolute;
    max-width: 350px;
    height: 540px;
    width: 100%;
    padding: 20px;
    border-radius: 16px;
    background: #ffffff65;
}

.form.signup {
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
}

header {
    margin: 40px 10px;

    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

form {
    margin-top: 30px;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    border-radius: 6px;

}

.field input {
    height: 56px;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
}

.field button {
    height: 75%;
    width: 50%;
    border: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    margin: 10px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field input:focus {
    border: solid 2px #183861;
    background-color: #FFF;
    color: #000000;

}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 19px;
    color: #666464;
    font-weight: 600;
    cursor: pointer;
    padding: 5px;
}

.primary {
    color: #fff;
    background-color: #003F6A;
    transition: all 0.3s ease;
    cursor: pointer;
}

.primary:hover {
    background-color: #016dcb;
}


.clear {
    color: #000000;
    background-color: #e4e4e4;
    transition: all 0.3s ease;
    cursor: pointer;
}

.clear:hover {
    background-color: #d6d6d6;
}

.form-link {
    text-align: right;
    margin: 20px;

}

.form-link2 {
    text-align: center;
    margin: 20px;
    font-size: small;

}

.titlelogin {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.buttonarea {
    display: flex;
    justify-content: center;

}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #b3b3b3;
}

.form a {
    color: #183861;
    text-decoration: none;
}

.form-input {
    padding-top: 10px;
    padding-bottom: 40px;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}



@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }

}