<aside id="sidebar-left" class="sidebar-utp">
  <div class="sidebar-header-utp">
    <div class="sidebar-brand-container-utp">
      <img src="/assets/img/utp2.png" alt="Logo" width="100" class="logo-utp">
      <h3 class="sidebar-title-utp">Menú Principal</h3>
    </div>
    <button id="sidebar-toggle-btn" class="menu-btn-utp">
      <img src="/assets/img/right.svg" alt="Abrir menú principal" class="menu-icon-right-utp">
      <img src="/assets/img/left.svg" alt="Cerrar menú principal" class="menu-icon-left-utp">
    </button>
  </div>
  <a href="/app/home.html">
    <img src="/assets/img/home.svg" alt="Icono de Inicio">
    <span class="link-text-utp">Inicio</span>
  </a>
  <a href="/app/radicar.html">
    <img src="/assets/img/create-w.svg" alt="Crear solicitud">
    <span class="link-text-utp">Radicar</span>
  </a>
  <a href="/app/consultar.html">
    <img src="/assets/img/search-w.svg" alt="Consultar solicitud">
    <span class="link-text-utp">Consultar</span>
  </a>
  <a href="/app/ayuda.html">
    <img src="/assets/img/help.svg" alt="Icono de Contacto">
    <span class="link-text-utp">Ayuda</span>
  </a>
  <a id="sidebar-informes-btn" href="/app/informes.html">
    <img src="/assets/img/reports.svg" alt="Icono de Contacto">
    <span class="link-text-utp">Informes</span>
  </a>
  <a href="https://vicerrectorias.utp.edu.co/administrativa/sistema-pqrs/" target="_blank">
    <img src="/assets/img/info-help.svg" alt="Icono de Contacto">
    <span class="link-text-utp">Más información</span>
  </a>
  <a id="sidebar-admin-btn" href="/app/admin/home-adm.html">
    <img src="/assets/img/admin-panel.svg" alt="Icono de Contacto">
    <span class="link-text-utp">Administrar</span>
  </a>

  <!-- El botón de accesibilidad ahora está en el menú lateral -->
  <a href="#" id="accessibility-sidebar-btn" role="button" data-bs-toggle="offcanvas"
    data-bs-target="#accessibilityCanvas" aria-controls="accessibilityCanvas" aria-label="Abrir menú de accesibilidad">
    <img src="/assets/img/accessibility.svg" alt="Icono de Accesibilidad">
    <span class="link-text-utp">Accesibilidad</span>
  </a>
</aside>